<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoyo.web.mapper.AudioRssMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zoyo.common.po.AudioSubscribeEntity">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="feed_id" property="feedId"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , user_id, feed_id, status, deleted, create_by, create_time, update_by, update_time, remark
    </sql>

    <select id="getPodcastSummaryByFeedId" resultType="com.zoyo.common.vo.PodcastSummary">
        SELECT feed_id,
               href,
               title,
               image,
               owner_name
        FROM zy_audio_rss
        WHERE feed_id IN (
            SELECT feed_id
            FROM zy_audio_subscribe
            WHERE user_id = #{userId}
              AND deleted = '0'
            GROUP BY feed_id
            ORDER BY create_time ASC)
    </select>

</mapper>
